.CardsComponent h6 input[type=text]
{
	font: 11px/20px "Bold";
	text-transform: uppercase;
	letter-spacing: .1em;
	padding: 0;
	margin: 0;
	color: #b2b2b2;
	width: 50%;
	height: 20px;
	background: 0;
	border: 0;
	margin: 6px 0;
}
.CardsComponent h6 input[type=text]:focus
{
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.Card,
button.Card
{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 5px;
}

.Card.PostCard
{
	padding: 5px 0;
}

.tagcloud > .Card,
.Cards > .Card
{
	float: left;
}

.Cards:after
{
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.Card,
button.Card
{
	display: block;
	width: 33%;
	color: #1d1d1d;
	font: 11px/1em "Semibold";
	text-transform: uppercase;
	letter-spacing: .1em;
}
.Card.PostCard
{
	width: 100%;
}

.Card a
{
	text-decoration: none;
	color: #1d1d1d;
}
.Card a.AuthorLink:hover
{
	text-decoration: underline;
}

.Card > .Inner
{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	background: #FFF;
}

button.Card > .Inner
{
	background: 0;
}

.Card .CardImage
{
	position: relative;
	width: 100%;
	padding-bottom: 100%;
	background: #c4c4c4;
	margin-bottom: 10px;
	overflow: hidden;
}

.Card.AuthorCard .CardImage img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.Card .CardImage > .CardImageTitle
{
	display: block;
	width: 100%;
	text-align: center;
	color: #FFF;
	position: absolute;
	top: 50%;
	margin-top: -6px;
}

.Card .CardContent
{
	display: block;
	text-align: center;
}
.Card.PostCard .CardContent
{
	text-align: left;
}

.Card .CardName
{
	
}
.Card.PostCard .CardName
{
	font: 14px/1.5em "Bold";
}

.TopLevelCard
{
	width: 100%;
	float: left;
}

@media all and (min-width:740px){
	
}