/**
*	section#discussion
*/
textarea#comment,
#discussion input[type=submit]
{
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#discussion input[type=submit]
{
	background: #c4c4c4;
}

#discussion p
{
	margin-bottom: 10px;
}

#respond
{
	position: relative;
}

#respond .logged-in-as
{
	display: inline-block;
	position: absolute;
	top: 10px;
	right: 0;
}

#discussion label,
.logged-in-as
{
	color: #b2b2b2;
	font: 11px/1em "Bold";
	text-transform: uppercase;
	letter-spacing: .1em;
}

p.form-allowed-tags
{
	font: 12px/1.5em "Semibold";
	color: #b2b2b2;
}

#reply-title
{
	border-top: 1px solid #b2b2b2;
	font: 11px/1em "Bold";
	text-transform: uppercase;
	letter-spacing: .1em;
	padding: 10px 0px;
	margin: 0;
	color: #b2b2b2;
}

#reply-title:before
{
	vertical-align: middle;
	text-align: center;
	-moz-transition: color .1s ease-in 0;
	-webkit-transition: color .1s ease-in 0;
	display: inline-block;
	font-family: "Genericons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	line-height: 1;
	text-decoration: inherit;
	text-transform: none;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	speak: none;
	content: "\f300";
}

@media all and (min-width:740px) {
	#discussion > .Inner
	{
		width: 700px;
		margin: 0 auto;
	}
}