/**
*	#header
*/
#header
{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
}
#header > .Inner
{
	z-index: 10;
	position: absolute;
	width: 100%;
	height: 45px;
	background: #FFF;
}
#navButton,
#searchButton
{
	position: absolute;
	width: 45px;
	height: 45px;
	left: 0;
}
#searchButton
{
	right: 0;
	left: auto;
}

#searchButton .genericon,
#navButton .genericon
{
	font-size: 26px;
}

#header h1
{
	margin: 0;
	text-align: center;
	font: 24px/45px "Semibold";
}


.PriorityLow
{
	z-index: 2;
}
.PriorityMedium
{
	z-index: 5;
}
.PriorityHigh
{
	z-index: 7;
}