/**
*	Styling <img />
*/

img
{
	max-width: 100%;
	height: auto;
}

img.alignnone,
a.alignnone,
img.aligncenter,
a.aligncenter
{
	display: block;
	margin: 50px auto;
	clear: both;
}

img.alignleft,
a.alignleft
{
	float: left;
	margin-right: 10px;
}

img.alignright,
a.alignright
{
	float: right;
	margin-left: 10px;
}

a.alignleft > img.alignleft,
a.alignright > img.alignright
{
	margin: 0;
}

img.size-tutomvc_hero_wide
{
	width: 100%;
	height: auto;
}

img.Circle, figure.Circle
{
	-webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}