.Meta
{
	position: absolute;
	left: 0;
	width: 100%;
	/*background: #fff;*/
	/*border-top: 1px dotted #CCC;*/
	padding: 20px 0;
}
.Meta .Title,
.Meta h1
{
	color: #333;
	margin-bottom: 0;
}
.Meta > .Wrapper
{
	width: 500px;
	margin: 0 auto;
}
.Meta > .Wrapper > .Inner
{
	text-align: center;
	font-size: 17px;
	padding: 0px 20px;
	position: relative;
}
@media only screen and (max-width: 900px)
{
	.Meta > .Wrapper
	{
		width: 100%;
	}
}

.Meta input,
.Meta textarea
{
	text-align: center;
}

.Meta > .Wrapper > .Inner p.PostMetaComments
{
	margin-bottom: 5px;
}
.Meta > .Wrapper > .Inner p.CategoryList,
.Meta > .Wrapper > .Inner p.TagList
{
	margin-bottom: 8px;
}

.Meta > .Wrapper > .Inner .CategoryList,
.Meta > .Wrapper > .Inner .TagList,
.comment-meta a,
.comment-list .reply,
.comment-navigation .nav-previous a,
.comment-navigation .nav-next a,
.comment-navigation .nav-previous a,
.comment-meta a
{
	font: 17px/20px "Bold";
}
.comment-meta,
.comment-meta a
{
	font: 14px/1.4em "Regular";
}
.Meta > .Wrapper > .Inner .CategoryList a,
.Meta > .Wrapper > .Inner .TagList a,
.comment-list .reply a,
.comment-meta a,
.comment-navigation .nav-next a,
.comment-navigation .nav-previous a
{
	text-decoration: none;
}
.Meta > .Wrapper > .Inner .CategoryList a:hover,
.Meta > .Wrapper > .Inner .TagList a:hover
{
	text-decoration: underline;
}
.Meta > .Wrapper > .Inner .TagList a:before
{
	content: "#";
}

/**
 * 6.14 Comments
 * -----------------------------------------------------------------------------
 */
 .CommentsLink
 {
 	display: inline-block;
 	font: 17px/17px "Bold";
 	color: #333;
 	text-decoration: none;
 	padding-left: 20px;
 	background: transparent url(../../images/symbol-comment-grey.png) left center no-repeat;
 	padding-top: 2px;
 }
 .comment-reply-title
 {
 	display: inline-block;
 	font: 24px/20px "Bold";
 	color: #333;
 	text-decoration: none;
 	padding-left: 25px;
 	background: transparent url(../../images/symbol-comment-grey.png) left top no-repeat;
 }
 #cancel-comment-reply-link
 {
 	display: block;
 	line-height: 1.5em;
 }
 .CommentsLink:hover
 {
 	color: #0099FF;
 }

.comments-area {
	margin: 48px auto;
	max-width: 474px;
	padding: 0 10px;
}

.comment
{
	margin: 10px 0;
}

.comment-list,
.comment-navigation
{
	margin: 20px 0;
}

.comment-list .trackback a,
.comment-list .pingback a,
.comment-metadata a {
	color: #767676;
}

.comment-author a:hover,
.comment-list .pingback a:hover,
.comment-list .trackback a:hover,
.comment-metadata a:hover {
	color: #41a62a;
}

.comment-list article,
.comment-list .pingback,
.comment-list .trackback {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	margin-bottom: 24px;
	padding-top: 24px;
}

.comment-list > li:first-child > article,
.comment-list > .pingback:first-child,
.comment-list > .trackback:first-child {
	border-top: 0;
}

.comment-author {
	position: relative;
}

.comment-author .avatar {
	border: 1px solid rgba(0, 0, 0, 0.1);
	height: 18px;
	padding: 2px;
	position: relative;
	top: 6px;
	left: 0;
	width: 18px;
}

.bypostauthor > article .fn:before {
	margin: 0 2px 0 -2px;
	position: relative;
	top: -1px;
}

.says {
	display: none;
}

.comment-edit-link {
	margin-left: 10px;
}

.comment-content {
	-webkit-hyphens: auto;
	-moz-hyphens:    auto;
	-ms-hyphens:     auto;
	hyphens:         auto;
	word-wrap: break-word;
}

.comment-content ul,
.comment-content ol {
	margin: 0 0 24px 22px;
}

.comment-content li > ul,
.comment-content li > ol {
	margin-bottom: 0;
}

.comment-content > :last-child {
	margin-bottom: 0;
}

.comment-list .children
{
	margin-left: 50px;
	background: transparent url(../../images/symbol-reply-grey.png) left 3px no-repeat;
}

@media only screen and (max-width: 900px)
{
	.comment-list .children
	{
		margin-left: 10px;
	}
}

.comment-respond {
	margin: 30px 0;
	padding: 0;
}

.comment-notes,
.comment-awaiting-moderation,
.logged-in-as,
.no-comments,
.form-allowed-tags,
.form-allowed-tags code {
	color: #767676;
}

.comment-notes,
.comment-awaiting-moderation,
.logged-in-as {
	font-size: 14px;
}

.no-comments {
	font-size: 16px;
	font-weight: 900;
	line-height: 1.5;
	margin-top: 24px;
	text-transform: uppercase;
}

.comment-form label {
	display: block;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form input[type="submit"],
.comment-form textarea
{
	width: 100%;
}

.form-allowed-tags,
.form-allowed-tags code {
	font-size: 12px;
	line-height: 1.5;
}

.comment-navigation .nav-next,
.comment-navigation .nav-previous {
	display: inline-block;
}

#comment-nav-above {
	margin-top: 36px;
	margin-bottom: 0;
}

#commentform input[type=submit]
{
	background: #0099FF url(../../images/symbol-write-white.png) center center no-repeat;
}