/**
*	#navigation
*/
#navigation
{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 45px;
	left: 0%;
}

#navigation.Hidden
{
	left: -100%;
	right: auto;
}

#navigation > .Inner
{
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	height: 100%;
	background: #FFF;
	padding: 10px;
}

#navigation nav
{
	margin-bottom: 10px;
}

#navigation nav a
{
	display: block;
	color: #1d1d1d;
	text-decoration: none;
	text-transform: uppercase;
	font: 14px/30px "Bold";
	margin-right: 70px;
}
#navigation nav a:hover
{
	color: #0099FF;
}