/**
*	.Pagination
*/
.Pagination
{
	margin: 10px 0;
	text-align: center;
	color: #b2b2b2;
	font: 16px/1em "Semibold";
	text-transform: uppercase;
	letter-spacing: .1em;
	text-decoration: none;
}

.Pagination a,
.Pagination a:hover
{
	text-decoration: none;
	color: #1d1d1d;
}
.Pagination a:hover
{
	color: #0099FF;
}