a.VideoLinkage
{
	display: block;
	width: 50px;
	height: 50px;
	font-size: 50px;
	right: 50%;
	margin-right: -25px;
	color: #fff;
	position: absolute;
	bottom: 30px;
	z-index: 2;
}
a.InlineVideoLinkage
{
	position: relative;
	display: inline-block;
}
a.InlineVideoLinkage .genericon
{
	position: absolute;
	top: 50%;
	margin-top: -25px;
	left: 50%;
	margin-left: -25px;
	width: 50px;
	height: 50px;
	color: #fff;
	font-size: 50px;
	text-decoration: none;
}