input[type=text]
{
	font: 24px/40px "Sans";
	height: 40px;
	padding: 0px 10px;
}
input[type=submit]
{
	background: #5fd1f3;
	font: 20px/44px "Bold";
	padding: 0 1em;
	-webkit-appearance: none;
}
input[type=text].Error
{
	border: 2px solid #fa4852;
}

.ContentBlock input[type=text]
{
	min-width: 389px;
}
@media only screen and (max-width: 480px)
{
	.ContentBlock input[type=text]
	{
		width: 240px;
		font: 16px/44px "Sans";
		min-width: inherit;
		padding: 0;
	}
}
.Checkbox
{
	display: inline-block;
	width: 27px;
	height: 25px;
	background: transparent url('../images/button-checkbox.png') center top no-repeat;
}
.Checkbox.Checked
{
	background: transparent url('../images/button-checkbox.png') center bottom no-repeat;
}
.Unselectable
{
	user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; -ms-user-select:none;
}
.Masonry
{
	width: 100%;
	visibility: hidden;
}
.Masonry > .Gutter
{
	width: 0px;
}
/* .Columns */
	.Columns
	{
		width: 100%;
	}
	.Columns .Column
	{
		float: left;
		min-height: 1px;
	}
	.Columns.TwoColumns .Column:first-child > .Wrapper,
	.Columns.TwoColumns:first-child > .Inner
	{
		padding-right: 2em;
	}
	.FourColumns .Column
	{
		width: 25%;
	}
	.TwoColumns .Column
	{
		width: 50%;
	}
	@media only screen and (max-width: 900px)
	{
		.TwoColumns .Column
		{
			width: 100%;
		}
		.Columns.TwoColumns .Column:first-child > .Wrapper,
		.Columns.TwoColumns:first-child > .Inner
		{
			padding-right: 0;
		}
	}
/* end .Columns */

.Interactive,
.Button
{
	cursor: pointer;
}
.ImagePlaceholder
{
	overflow: hidden;
	width: 100%;
	height: 100%;
	display: block;
	opacity: 0;
}
.ImagePlaceholder img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
}
.Icon
{
	position: absolute;
	left: 50%;
	top: 50%;
}
.PlayIcon
{
	margin-left: -50px;
	margin-top: -50px;
	width: 100px;
	height: 100px;
	background: transparent url('../images/icon-play-2.png') center center no-repeat;
}
@media only screen and (max-width: 900px)
{
	.PlayIcon
	{
		margin-left: -25px;
		margin-top: -25px;
		width: 50px;
		height: 50px;
		background: transparent url('../images/icon-play-2.png') center center no-repeat;
		background-size: 50px 50px;
	}
}
/* .sharer */
	.ShareComponent
	{
		display: inline-block;
		z-index: 10;
		position: relative;
	}
	.ShareComponent > .Button
	{
		float: left;
		padding: 0;
		background: 0;
	}
	.ShareComponent > .Button > .Symbol
	{
		width: 40px;
		height: 40px;
		background: #c5c5c5 url('../images/symbol-add.png') left top no-repeat;
		float: left;
	}
	.ShareComponent.Tiny > .Button > .Symbol
	{
		width: 23px;
		height: 23px;
		background: #c5c5c5 url('../images/symbol-add.png') -8px bottom no-repeat;
	}
	.ShareComponent > .Button > .Label
	{
		display: inline-block;
		height: 40px;
		font: 16px/40px "Bold";
		background: #5fd1f3;
		text-transform: uppercase;
		color: #FFF;
		padding: 0 15px;
		float: left;
	}
	.ShareComponent.Tiny > .Button > .Label
	{
		height: 23px;
		font: 11px/23px "Medium";
		padding: 0 10px;
	}
	.ShareComponent > .Counter
	{
		position: absolute;
		display: none;
		width: 100%;
		left: 126px;
	}
	.ShareComponent.Tiny > .Counter
	{
		left: 80px;
	}
	.ShareComponent > .Counter > .Symbol
	{
		width: 26px;
		height: 40px;
		background: transparent url('../images/share-count-button-left-arrow.png') top right no-repeat;
		position: absolute;
		left: 0;
		top: 0;
	}
	.ShareComponent.Tiny > .Counter > .Symbol
	{
		width: 12px;
		height: 24px;
		background: transparent url('../images/share-count-button-left-arrow.png') bottom left no-repeat;
	}
	.ShareComponent > .Counter > .Label
	{
		background: #f0f0f0;
		height: 38px;
		border-top: 1px solid #dedede;
		border-right: 1px solid #dedede;
		border-bottom: 1px solid #dedede;
		font: 15px/40px "Bold";
		color: #333;
		text-transform: uppercase;
		padding: 0px 15px 0px 5px;
		display: inline-block;
		position: absolute;
		left: 26px;
		white-space: nowrap;
	}
	.ShareComponent.Tiny > .Counter > .Label
	{
		left: 12px;
		height: 21px;
		font: 11px/23px "Medium";
		padding: 0px 5px 0px 2px;
	}
	.ShareComponent ul
	{
		list-style: none;
		opacity: 0;
		visibility: hidden;
		position: relative;
		clear: both;
	}
	.ShareComponent ul li
	{
		position: absolute;
	}
	.ShareComponent ul li a
	{
		width: 47px;
		height: 46px;
		text-indent: -999em;
		overflow: hidden;
		display: block;
	}
	.ShareComponent ul li > .Counter
	{
		position: absolute;
		top: 47px;
		left: 1px;
		width: 43px;
		overflow: hidden;
		display: none;
	}
	.ShareComponent ul li > .Counter .Symbol
	{
		width: 43px;
		height: 14px;
		background: transparent url('../images/share-count-button-top-arrow.png') bottom left no-repeat;
	}
	.ShareComponent ul li > .Counter .Label
	{
		font: 12px/46px "Bold";
		color: #333;
		text-align: center;
		background: #f0f0f0;
		height: 31px;
		width: 41px;
		border-left: 1px solid #dedede;
		border-right: 1px solid #dedede;
		border-bottom: 1px solid #dedede;
		font: 11px/31px "Bold";
		color: #333;
		text-transform: uppercase;
		text-align: center;
		display: inline-block;
		position: relative;
		float: left;
		white-space: nowrap;
	}
	.ShareComponent ul li.Twitter
	{
		left: 47px;
	}
	.ShareComponent ul li.Linkedin
	{
		left: 94px;
	}
	.ShareComponent ul li.Email
	{
		left: 141px;
	}
	.ShareComponent ul li.Facebook a
	{
		background: transparent url('../images/icon-facebook.png') left top no-repeat;
	}
	.ShareComponent ul li.Twitter a
	{
		background: transparent url('../images/icon-twitter.png') left top no-repeat;
	}
	.ShareComponent ul li.Linkedin a
	{
		background: transparent url('../images/icon-linkedin-47x46.png') center center no-repeat;
	}
	.ShareComponent ul li.Email a
	{
		background: transparent url('../images/icon-email-47x46.png') center center no-repeat;
	}
/* end .sharer */
/* #newsletterForm */
	#newsletterForm
	{
		text-align: center;
	}
	#newsletterForm input[type=text]
	{
		text-align: center;
	}
	#newsletterForm input[type=submit]
	{
		position: relative;
		height: 45px;
		top: -2px;
		margin-top: 10px;
	}
/* end #newsletterForm */
/* .EventExcerpt */
	.EventFilterOptions
	{
		text-align: center;
	}
	.EventFilterOptions .Button
	{
		margin: 10px;
	}
	.Event.PastEvent
	{
		display: none;
	}
	.EventExcerpt
	{
		/*background: #5eb676;*/
		color: #FFF;
		width: 100%;
		margin-bottom: 15px;
	}
	/*.EventExcerpt:hover .Text > .Link > .Inner
	{
		color: #5fd1f3;
		background: #FFF;
	}*/
	.EventExcerpt .Date
	{
		background: #5eb676;
		width: 19%;
		margin-right: 1%;
		font: 80px/1em "VolvoBroad";
		display: block;
		float: left;
		color: #fff;
		text-align: center;
		height: 160px;
	}
	.EventExcerpt .Date .Day
	{
		line-height: 160px;
	}
	.EventExcerpt .Text
	{
		float: left;
		width: 80%;
		padding: 22px 0px 0px 0px;
		min-height: 138px;
		position: relative;
		background: #FFF;
	}
	.EventExcerpt .Text > .Inner
	{
		padding: 0px 0px 0px 33px;
		width: 75%;
	}
	.EventExcerpt .Text p
	{
		font-size: 16px;
		line-height: 1.3em;
		color: #333;
	}
	.EventExcerpt p.Title
	{
		font: 30px/1em "Bold";
		margin-bottom: .5em;
		color: #333;
	}
	.EventExcerpt .Text > .Link
	{
		/*width: 30%;*/
		position: absolute;
		bottom: 30px;
		right: 0px;
		margin-top: -25px;
	}
	.EventExcerpt .Text > .Link > .Inner
	{
		background: #ebebeb;
		color: #333;
		font: 18px/50px "Bold";
		text-transform: uppercase;
		text-align: center;
		margin: 0 20px;
		padding: 0 10px;
	}
	@media only screen and (max-width: 900px)
	{
		.EventExcerpt .Date
		{
			width: 100%;
			text-align: left;
			height: 60px;
		}
		.EventExcerpt .Date .Day
		{
			padding-left: 20px;
			font: 50px/60px "VolvoBroad";
		}
		.EventExcerpt .Text
		{
			width: 100%;
		}
		.EventExcerpt .Text > .Inner
		{
			width: 100%;
			float: left;
			margin-bottom: 10px;
			padding: 0;
		}
		.EventExcerpt .Text > .Inner p
		{
			padding: 0 20px;
		}
		.EventExcerpt p.Title
		{
			font-size: 26px;
		}
		.EventExcerpt .Text .City
		{
			display: block;
			margin-top: 5px;
		}
		.EventExcerpt .Text > .Link
		{
			position: relative;
			float: left;
			margin: 0 auto;
			width: 100%;
			padding: 0 0 20px 0;
			bottom: 0;
		}
		.EventExcerpt .Text > .Link > .Inner
		{
			width: 120px;
			margin: 0 auto;
		}
	}
/* end .EventExcerpt */
/* .EventThumbnail */
	.EventThumbnail
	{
		width: 100%;
	}
	.EventThumbnail .MobileImage
	{
		display: none;
	}
	.EventThumbnail > .Title
	{
		font: 28px/1em "Bold";
		margin-bottom: .5em;
		color: #5fd1f3;
	}
	.EventThumbnail > .Tagline
	{
		font: 20px/1.4em "Bold";
		margin-bottom: .5em;
		color: #333;
	}
	.EventThumbnail > .Meta
	{
		width: 15%;
		float: left;
		margin-right: 25px;
	}
	.EventThumbnail > .Meta .Date,
	.EventThumbnail > .Meta .Location
	{
		width: 100%;
		text-align: center;
	}
	.EventThumbnail > .Meta .Date
	{
		background: #5eb676;
		font: 60px/140px "VolvoBroad";
		color: #fff;
		height: 140px;
	}
	.EventThumbnail > .Meta .Date .Month
	{
		font: 53px/1em "VolvoBroad";
	}
	.EventThumbnail > .Meta .Location
	{
		color: #333;
	}
	.EventThumbnail > .Meta .Location .City
	{
		font: 18px/1.5em "Bold";
	}
	.EventThumbnail > .Meta .Location .Time
	{
		font: 13px/1.5em "Sans";
	}
	.EventThumbnail > .Text,
	.EventThumbnail > .Image
	{
		width: 41%;
		float: left;
	}
	.EventThumbnail.NoFeaturedImage > .Text
	{
		width: 82%;
	}
	.EventThumbnail > .Text > .Inner
	{
		margin-bottom: 30px;
		padding-right: 25px;
	}
	.EventThumbnail > .Text > .Buttons
	{
		width: 100%;
		position: relative;
	}
	.EventThumbnail > .Text > .Buttons > .Button,
	.EventThumbnail > .Text > .Buttons .ShareComponent
	{
		position: relative;
		float: left;
		margin-right: 15px;
	}
	.EventThumbnail.NoFeaturedImage > .Text > .Buttons > .Button,
	.EventThumbnail.NoFeaturedImage > .Text > .Buttons .ShareComponent
	{
		position: relative;
		float: left;
	}
	.EventThumbnail.NoFeaturedImage > .Text > .Buttons .ShareComponent
	{
		right: 0;
	}
	.EventThumbnail > .Meta .Location .Symbol
	{
		width: 100%;
		height: 139px;
		background: transparent url('../images/icon-location-75x103.png') center center no-repeat;
	}
	@media only screen and (max-width: 900px)
	{
		.EventThumbnail > .Image
		{
			display: none;
		}
		.EventThumbnail .MobileImage
		{
			display: block;
		}
		.EventThumbnail .MobileImage img
		{
			width: 100%;
		}
		.EventThumbnail > .Meta
		{
			width: 100%;
			margin: 15px 0px;
		}
		.EventThumbnail > .Meta .Date,
		.EventThumbnail > .Meta .Location
		{
			width: 100%;
			float: left;
		}
		.EventThumbnail > .Meta .Date {
			font: 60px/70px "VolvoBroad";
			height: 70px;
		}
		.EventThumbnail > .Meta .Location .Symbol
		{
			height: 120px;
		}
		.EventThumbnail > .Text,
		.EventThumbnail > .Image
		{
			width: 100%!important;
		}
		.EventThumbnail > .Text > .Inner,
		.EventThumbnail > .Text > .Buttons
		{
			padding: 0px;
		}
		.EventThumbnail > .Text > .Buttons > .Button,
		.EventThumbnail > .Text > .Buttons .ShareComponent
		{
			margin-right: 10px;
		}
	}
/* end .EventThumbnail */
/* .ArchiveItem */
	.FilterSettings .Button
	{
		position: relative;
		background: #b1b3b6;
		font: 20px/40px "Bold";
		padding: 0 3em 0 1em;
		margin: 10px;
	}
	.FilterSettings .Button.Checked
	{
		background: #5fd1f3;
	}
	.FilterSettings .Button .Symbol
	{
		width: 24px;
		height: 24px;
		background: transparent url('../images/symbol-cat-check.png') center top no-repeat;
		display: block;
		position: absolute;
		top: 8px;
		right: 10px;
	}
	.FilterSettings .Button.Checked .Symbol
	{
		height: 18px;
		top: 12px;
		background: transparent url('../images/symbol-cat-check.png') center bottom no-repeat;
	}
	.ArchiveItem p
	{
		font: 16px/1.4em "Sans";
		color: #333;
	}
	.ArchiveItem .Meta
	{
		font: 13px/1.4em "Sans";
		text-transform: uppercase;
	}
	.ArchiveItem .Title
	{
		font: 30px/1em "Bold";
		color: #5fd1f3;
	}
	.ArchiveItem.Press .Title
	{
		font: 20px/1em "Bold";
		color: #333;
	}
	.ArchiveItem.Press .Meta
	{
		font: 24px/1em "Bold";
		color: #5fd1f3;
		text-transform: none;
	}
	.ArchiveItem .ReadMoreButton
	{
		float: left;
	}
	.ArchiveItem .ShareComponent
	{
		float: left;
		margin-left: 20px;
	}
	.Pagination .NavButton
	{
		display: inline-block;
		position: absolute;
	}
	.Pagination .Next
	{
		left: 0;
	}
	.Pagination .Prev
	{
		right: 0;
	}
	@media only screen and (max-width: 900px)
	{
		.ArchiveItem .ShareComponent
		{
			clear: both;
			margin-left: 0;
			margin-top: 10px;
		}
		.ArchiveItem .FeaturedMedia
		{
			display: none;
		}
		.Pagination .NavButton
		{
			position: static;
			clear: both;
		}
		.Pagination
		{
			text-align: center;
		}
	}
	@media only screen and (max-width: 1200px)
	{
		.ContentBlock.Pagination > .Wrapper > .Inner
		{
			text-align: center;
		}
		.Pagination .Next
		{
			left: 20px;
			margin-bottom: 15px;
		}
		.Pagination .Prev
		{
			right: 20px;
		}
	}
/* end .ArchiveItem */

/* .PostExcerpt */
	.PromotionThumbnailMasonry
	{
		margin: 0 auto;
		display: block;
	}
	.PostExcerptMasonry > .Gutter
	{
		width: 2%;
	}
	.PromotionThumbnailMasonry > .Gutter
	{
		width: 10px;
	}
	.PostExcerpt
	{
		width: 49%;
		float: left;
		margin-bottom: 1em;
	}
	.PromotionThumbnail
	{
		width: 380px;
	}
	@media only screen and (max-width:900px)
	{
		.PostExcerptMasonry > .Gutter
		{
			width: 0%;
		}
		.PostExcerpt
		{
			width: 100%;
		}
	}
	.PostExcerpt .FeaturedImage
	{
		position: relative;
		margin-bottom: 20px;
	}
	.PostExcerpt .FeaturedImage img
	{
		display: block;
		min-width: 100%;
	}
	.PostExcerpt:hover .FeaturedImage > .Overlay
	{
		display: block;
	}
	.PostExcerpt .FeaturedImage > .Overlay
	{
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		text-align: center;
		background: transparent url(../images/overlay-blue.png) left top repeat;
		display: none;
	}
	.PostExcerpt .FeaturedImage > .Overlay p
	{
		position: relative;
		top: 50%;
		margin-top: -11px;
		font: 22px/1em "Bold";
		color: #FFF;
	}
	.PostExcerpt p
	{
		font: 16px/1.4em "Sans";
		color: #999;
	}
	.PostExcerpt .Title
	{
		font: 24px/1em "Bold";
		color: #333;
	}
	.PostExcerpt:hover .Title
	{
		text-decoration: underline;
	}
/* end .PostExcerpt */
/* .PromotionThumbnail */
	.PromotionThumbnailMasonry
	{
		margin: 0 auto;
		display: block;
	}

	.PromotionThumbnailMasonry > .Gutter
	{
		width: 20px;
	}

	.PromotionThumbnail
	{
		width: 310px;
		display: block;
	}
	@media only screen and (max-width:900px)
	{
		.PromotionThumbnailMasonry
		{
			width: 100%!important;
		}
		.PromotionThumbnail
		{
			width: 100%;
		}
	}
	.PromotionThumbnail .FeaturedImage
	{
		position: relative;
		margin-bottom: 20px;
	}
	.PromotionThumbnail .FeaturedImage img
	{
		display: block;
		width: 100%;
		height: auto;
	}
	.PromotionThumbnail .FeaturedImage > .Overlay
	{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		/*height: 30%;*/
		text-align: left;
		background: transparent url(../images/bg-caption.png) left top repeat;
	}
	.PromotionThumbnail .FeaturedImage > .Overlay p
	{
		position: relative;
		margin: 10px;
		font: 22px/1em "Bold";
		color: #FFF;
	}

/* end .PromotionThumbnail */
/* .PartnerThumbnail */
	.PartnersArchiveMasonry > .Gutter
	{
		width: 5%;
	}
	.PartnerThumbnail
	{
		width: 30%;
		float: left;
		margin-bottom: 20px;
	}
	.PartnerThumbnail .Logotype
	{
		width: 100%;
		height: 100px;
		padding: 20px 0px;
		text-align: center;
		margin-bottom: 20px;
	}
	.PartnerThumbnail .Logotype img
	{
		max-width: 100%;
		height: auto;
	}
	.PartnerThumbnail .Title
	{
		font: 20px/1em "Bold";
		text-align: center;
	}
	.PartnerExcerptMasonry
	{
		margin: 0 auto;
		display: block;
	}
	.PartnerExcerpt
	{
		width: 240px;
		height: 140px;
		text-align: center;
		float: left;
	}
	.PartnerExcerpt img
	{
		max-width: 100%;
		height: auto;
	}

	@media only screen and (max-width:900px)
	{
		.PartnerExcerpt
		{
			width: 200px;
			height: 120px;
		}
		.PartnersArchiveMasonry > .Gutter
		{
			width: 2%;
		}
		.PartnerThumbnail
		{
			width: 49%;
		}
		.SocialFeed .Inner
		{
			padding-right: 0!important;
		}
	}
/* end .PartnerThumbnail */
/* .SocialFeed */
	.Columns.SocialFeed
	{
		padding-left: 2.5%;
	}
	.SocialFeed > .Inner
	{
		padding-right: 10%!important;
	}
	.SocialFeed .Title
	{
		font: 21px/1em "Bold";
		margin: 0;
	}
	.SocialFeed .Title,
	.SocialFeed .Item
	{
		padding: 15px 0;
		border-bottom: 1px solid #c6c6c6;
	}
	/*.SocialFeed .Item
	{
		margin-bottom: 20px;
	}*/
	.SocialFeed .Item .FeaturedImage
	{
		float: left;
		margin-right: 15px;
	}
	.SocialFeed .Item .FeaturedImage
	{
		width: 48px;
	}
	.SocialFeed .Item .FeaturedImage img
	{
		width: 100%;
		height: auto;
	}
	.SocialFeed .Item a
	{
		color: #333;
	}
	.SocialFeed .Item .Message .Content a
	{
		font-family: "Bold";
	}
	.SocialFeed .Item a:hover
	{
		text-decoration: underline;
	}
	.SocialFeed .Item p
	{
		font: 15px/1.4em "Sans";
	}
	.SocialFeed .Item .Meta
	{
		position: relative;
	}
	.SocialFeed .Item .Meta .Links
	{
		position: absolute;
		top: 0;
		right: 0;
		font: italic 12px/1em "Arial";
	}
	.SocialFeed .Item .Meta .Links a
	{
		margin-left: 10px;
	}
	.SocialFeed .Item .Meta .Links a.Retweet
	{
		padding-left: 22px;
		line-height: 14px;
		background: transparent url(../images/icon-share.png) left center no-repeat;
	}
	.SocialFeed .Item .Meta .Date
	{
		font: italic 12px/1em "Arial";
	}
	.SocialFeed .Item .ShareComponent
	{
		position: absolute;
		top: 0;
		right: 0;
	}
	.SocialFeed .SocialLink
	{
		display: inline-block;
		position: relative;
		margin: 20px 0;
	}
	.SocialFeed .SocialLink > .Symbol
	{
		width: 60px;
		height: 60px;
		display: block;
		float: left;
	}
	.SocialFeed.Facebook .SocialLink > .Symbol
	{
		background: transparent url('../images/icon-facebook.png') left bottom no-repeat;
	}
	.SocialFeed.Twitter .SocialLink > .Symbol
	{
		background: transparent url('../images/icon-twitter.png') left bottom no-repeat;
	}
	.SocialFeed .SocialLink > .Label
	{
		font: 16px/60px "Medium";
		padding: 0px 20px;
		float: left;
		color: #FFF;
	}
	.SocialFeed.Facebook .SocialLink > .Label
	{
		background: #325c98;
	}
	.SocialFeed.Twitter .SocialLink > .Label
	{
		background: #008bc2;
	}
	@media only screen and (max-width:900px)
	{
		.Columns.SocialFeed
		{
			padding-left: 0;
		}
		.SocialFeed .Inner
		{
			padding-right: 0!important;
		}
		.SocialFeed .Item .ShareComponent
		{
			position: static;
		}
	}
/* end .SocialFeed */
/* .TabGroup */
.TabGroup > ul
{
	list-style: none;
	padding: 0!important;
	display: none;
}
.TabGroup > ul li
{
	float: left;
	margin: 0 10px;
	display: block;
	position: relative;
	top: 1px;
	z-index: 10;
}
.TabGroup > ul li a
{
	font: 18px/1em "Bold";
	text-transform: uppercase;
	color: #000;
	padding: 15px 23px;
	background: 0;
	border-left: 1px solid #b1b3b6;
	border-right: 1px solid #b1b3b6;
	border-top: 1px solid #b1b3b6;
	display: block;
}
.TabGroup > ul li.ui-state-active a
{
	background: #FFF;
}
.TabGroup > div > .ContentBlock:first-child
{
	border-top: 0;
}
.TabGroup.NoFit > ul
{
	height: auto!important;
}
.TabGroup.NoFit > ul li
{
	float: none;
}
/* end .TabGroup */
/* .SearchComponent */
#searchHeader
{
	background: #5fd1f3;
}
.ContentBlock.SearchComponent > .Wrapper
{
	padding: 10px 0;
}
.ContentBlock.SearchComponent > .Wrapper
{
	position: relative;
}
.SearchComponent input
{
	width: 100%;
	border: 0;
}
#searchHeader input
{
	width: 1114px;
}
.SearchComponent .Close
{
	display: block;
	width: 27px;
	height: 26px;
	background: transparent url('../images/symbol-close-white.png') center center no-repeat;
	text-indent: -9999em;
	overflow: hidden;
	display: none;
}
#searchHeader .Close
{
	display: block;
	position: absolute;
	top: 17px;
	right: 0px;
}
.SearchComponent .Results
{
	position: absolute;
	z-index: 100;
	width: 100%;
}
.SearchComponent .Results > .Result:last-child
{
	border-bottom: 1px solid #dedede;
}
.SearchComponent .Results > .Result
{
	padding: 10px 0;
	border-top: 1px solid #dedede;
	border-left: 1px solid #dedede;
	border-right: 1px solid #dedede;
	background: #FFF;
	display: block;
}
.SearchComponent .Results > .Result > .Inner
{
	padding: 0 10px;
}
.SearchComponent .Results > .Result .Type
{
	font-size: 14px;
	text-transform: uppercase;
	margin-right: 20px;
}
.SearchComponent .Results > .Result .Title
{
	font-size: 18px;
}
.SearchComponent .Results > .Result p
{
	line-height: 1em;
	margin: 0;
}
@media only screen and (max-width:1200px)
{
	#searchHeader input,
	#searchHeader .Results
	{
		margin-left: 15px;
	}
	#searchHeader .Close
	{
		right: 15px;
	}
}
/* end .SearchComponent */
/* .FeaturedMediaThumbnail */
	.FeaturedMediaThumbnailMasonry
	{
	}
	.FeaturedMediaThumbnailMasonry > .Gutter
	{
		width: 1.3%;
	}
	.FeaturedMediaThumbnail
	{
		width: 24%;
		float: left;
		margin-bottom: 1em;
	}
	.FeaturedMediaThumbnail .PlayIcon
	{
		position: absolute;
	}
	.FeaturedMediaThumbnail .FeaturedImage
	{
		position: relative;
		margin-bottom: 15px;
	}
	.FeaturedMediaThumbnail .FeaturedImage img
	{
		display: block;
	}
	.ArchiveItem.Post img,
	.ArchiveItem.Press img,
	.FeaturedMediaThumbnail .FeaturedImage img
	{
		min-width: 100%;
		margin-bottom: 15px;
	}
	.FeaturedMediaThumbnail p
	{
		font: 16px/1.4em "Sans";
		color: #999;
	}
	.FeaturedMediaThumbnail .Title
	{
		font: 16px/1em "Sans";
		color: #333;
	}
	.FeaturedMediaThumbnail:hover .Title
	{
		text-decoration: underline;
	}
	@media only screen and (max-width:900px)
	{
		.FeaturedMediaThumbnailMasonry > .Gutter
		{
			width:0%;
		}
		.FeaturedMediaThumbnail
		{
			width: 100%;
			float: left;
			margin-bottom: 1em;
		}
	}
/* end .PostExcerpt */
