html,
body
{
	width: 100%;
	height: 100%;
}
body
{
	background: #eaedee;
}
#stage
{
	width: 100%;
	padding: 10px 0;
}
#stage > .Inner
{
	padding: 0 15px;
}
@media only all
{
	#stage
	{
		overflow: hidden;
		min-width: 0;
	}
}