html,
body
{
	width: 100%;
	height: 100%;
}
body
{
	background: #eaedee url(../images/loader.gif) center center no-repeat;
}
body.Ready
{
	background: #eaedee;
}
#stage
{
	width: 100%;
	padding: 10px 0;
	visibility: hidden;
}
body.Ready #stage
{
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
}
#stage > .Inner
{
	padding: 0 15px;
}
@media only all
{
	#stage
	{
		overflow: hidden;
		min-width: 0;
	}
}
/* content */
	.ContentBlockContainer
	{
		margin-bottom: 10px;
		position: relative;
	}
	.ContentBlock
	{
		position: relative;
		background: #FFF;
		width: 100%;
		z-index: 0;
		position: absolute;
		top: 0;
		right: 0;
		visibility: hidden;
		opacity: 0;
	}
	a.ContentBlock,
	a.ContentBlock:hover,
	a.ContentBlock:visited
	{
		text-decoration: none;
		color: inherit;
	}
	.ContentBlock.Preview
	{
		width: 1060px;
		height: 750px;
	}
	.ContentBlock.Active
	{
		opacity: 1;
		z-index: 1;
	}
	.ContentBlock > .Wrapper
	{
		padding: 20px;
	}
	.ContentBlock > .IconLinkedContent
	{
		position: absolute;
		left: 50%;
		margin-left: -25px;
		top: 40px;
		background: transparent url(../images/button-link.png) left top no-repeat;
		z-index: 2;
		width: 50px;
		height: 20px;
	}
	.ContentBlock:hover > .IconLinkedContent
	{
		background-position: left -40px;
	}
	.ContentBlock > .Wrapper > .Inner
	{
		background: #ebebeb;
		padding: 120px 0px;
		position: relative;
		overflow: hidden;
	}
	.ContentBlock > .Wrapper > .Inner > .BackgroundImage
	{
		position: absolute;
		top: 0;
		left: 0;
	}
	.ContentBlock > .Wrapper > .Inner > .TheContent
	{
		width: 900px;
		margin: 0 auto;
		position: relative;
		-webkit-hyphens: auto;
		-moz-hyphens:    auto;
		-ms-hyphens:     auto;
		hyphens:         auto;
		word-wrap: break-word;
	}
	.ContentBlockContainer.PostProtected .ContentBlock
	{
		background: #ebebeb;
	}
	.ContentBlockContainer.PostProtected .ContentBlock > .Wrapper > .Inner > .TheContent
	{
		max-width: 360px;
	}
	.ContentBlockContainer.PostProtected .ContentBlock > .Wrapper > .Inner > .TheContent > .Inner
	{
		text-align: center;
	}
	.ContentBlock > .Wrapper > .Inner > .TheContent img
	{
		max-width: 100%;
		height: auto;
	}
	@media only screen and (max-width: 1000px)
	{
		.ContentBlock > .Wrapper > .Inner
		{
			padding: 70px 0px;
		}
		.ContentBlock > .Wrapper > .Inner > .TheContent
		{
			width: 100%;
		}
		.ContentBlock > .Wrapper > .Inner > .TheContent > .Inner
		{
			padding: 0px 20px;
		}
	}
	ul.ContentBlockPagination
	{
		position: absolute;
		top: 30px;
		right: 30px;
		list-style: none;
		z-index: 2;
	}
	ul.ContentBlockPagination li
	{
		float: left;
		margin: 0 3px;
		width: 15px;
		height: 15px;
	}
	ul.ContentBlockPagination li a
	{
		text-indent: -9999em;
		text-align: left;
		overflow: hidden;
		display: block;
		width: 100%;
		height: 100%;
		background: transparent url(../images/button-page.png) -15px top no-repeat;
		/*opacity: .5;*/
	}
	ul.ContentBlockPagination li.Active a
	{
		background: transparent url(../images/button-page.png) left top no-repeat;
		-webkit-animation: fadeIn .5s;
		animation: fadeIn .5s;
		opacity: 1;
	}
/* end content */
/* #navigation */
	#buttons 
	{
		position: fixed;
		left: 50%;
		bottom: 10px;
		height: 36px;
		z-index: 9;
		width: 120px;
		margin-left: -60px;
		opacity: .5;
	}
	#buttons:hover
	{
		opacity: 1;
	}
	#buttons a
	{
		display: block;
		text-indent: -9999em;
		overflow: hidden;
		position: absolute;
		top: 0px;
		width: 35px;
		height: 36px;
	}
	#mainButton
	{
		left: 50%;
		margin-left: -17px;
		background: transparent url(../images/button-navigation.png) left top no-repeat;
		visibility: hidden;
		opacity: 0;
	}
	#previousButton
	{
		left: 0;
		background: transparent url(../images/button-previous.png) left top no-repeat;
	}
	#nextButton
	{
		right: 0;
		background: transparent url(../images/button-next.png) left top no-repeat;
	}
	#pagination
	{
		position: fixed;
		top: 0px;
		width: 100%;
		height: 100%;
		z-index: 10;
		overflow: scroll;
		background: #eaedee; /* Old browsers */
		background: -moz-radial-gradient(center, ellipse cover,  #eaedee 43%, #eaedee 43%, #cccccc 94%); /* FF3.6+ */
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(43%,#eaedee), color-stop(43%,#eaedee), color-stop(94%,#cccccc)); /* Chrome,Safari4+ */
		background: -webkit-radial-gradient(center, ellipse cover,  #eaedee 43%,#eaedee 43%,#cccccc 94%); /* Chrome10+,Safari5.1+ */
		background: -o-radial-gradient(center, ellipse cover,  #eaedee 43%,#eaedee 43%,#cccccc 94%); /* Opera 12+ */
		background: -ms-radial-gradient(center, ellipse cover,  #eaedee 43%,#eaedee 43%,#cccccc 94%); /* IE10+ */
		background: radial-gradient(ellipse at center,  #eaedee 43%,#eaedee 43%,#cccccc 94%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaedee', endColorstr='#cccccc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		text-align: center;
		display: none;
	}
	#pagination > .Inner
	{
		padding: 0px 0px;
		display: inline-block;
	}
	#pagination.Expanded
	{
		-webkit-animation: fadeIn .8s;
		animation: fadeIn .8s;
		display: block;
		-webkit-overflow-scrolling: touch;
	}
	.ContentBlockContainerThumbnail
	{
		display: block;
		padding: 2px;
		margin: 0px auto;
		background: 0;
		width: 156px;
		width: 200px;
		text-decoration: none;
		text-align: center;
	}
	.ContentBlockContainerThumbnail > .Inner
	{
		padding: 3px;
		background: #FFF;
		width: 150px;
		min-height: 100px;
		margin: 0 auto;
	}
	.ContentBlockContainerThumbnail > .Inner > img
	{
		display: block;;
		width: 100%;
		height: auto;
	}
	.ContentBlockContainerThumbnail.Current
	{
		-webkit-animation: fadeIn .5s;
		animation: fadeIn .5s;
	}
	.ContentBlockContainerThumbnail.Current > .Inner,
	.ContentBlockContainerThumbnail:hover > .Inner
	{
		background: #0099FF!important;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}
	#pagination.InTransition .ContentBlockContainerThumbnail.Current > .Inner,
	#pagination.InTransition .ContentBlockContainerThumbnail:hover > .Inner
	{
		background: #FFF!important;
	}
	#pagination .ContentBlockContainerThumbnail span.Title
	{
		font: 20px/1em "Bold";
		color: #333;
		-webkit-animation: fadeIn .5s;
		animation: fadeIn .5s;
		padding: 15px 0 0 0;
		display: block;
		visibility: visible;
		opacity: 1;
	}
	#pagination .ContentBlockContainerThumbnail:hover span.Title,
	#pagination .ContentBlockContainerThumbnail.Current span.Title
	{
		color: #0099FF;
	}
	#pagination.InTransition .ContentBlockContainerThumbnail span.Title
	{
		color: #333;
	}
	#indicator
	{
		position: fixed;
		background: transparent url(../images/button-indicator.png) left top no-repeat;
		color: #FFF;
		bottom: 50px;
		left: 50%;
		width: 120px;
		margin-left: -60px;
		height: 35px;
		font: 20px/35px "Bold";
		text-align: center;
		opacity: 0;
		visibility: hidden;
		z-index: 10;
	}
	@media 
	(-webkit-min-device-pixel-ratio: 2), 
	(min-resolution: 192dpi)
	{
		#mainButton,
		#previousButton,
		#nextButton,
		#indicator,
		.ContentBlock > .IconLinkedContent
		{
			background-position: right top;
			background-size: 150% auto;
		}
		.ContentBlock:hover > .IconLinkedContent
		{
			background-position: right bottom;
		}
		ul.ContentBlockPagination li a
		{
			background-size: 300% auto;
			background-position: -30px top;
		}
		ul.ContentBlockPagination li.Active a
		{
			background-size: 300% auto;
			background-position: -15px top;
		}
	}
/* end #navigation */
#sandbox
{
	position: absolute;
	top: 0;
	left: 100%;
}