@import "../webfonts/genericons.css";
@font-face {
    font-family: 'Bold';
    src: url('../webfonts/josefinslab-bold-webfont.eot');
    src: url('../webfonts/josefinslab-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/josefinslab-bold-webfont.woff') format('woff'),
         url('../webfonts/josefinslab-bold-webfont.ttf') format('truetype'),
         url('../webfonts/josefinslab-bold-webfont.svg#josefin_slabbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'SemiBold';
    src: url('../webfonts/josefinslab-semibold-webfont.eot');
    src: url('../webfonts/josefinslab-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/josefinslab-semibold-webfont.woff') format('woff'),
         url('../webfonts/josefinslab-semibold-webfont.ttf') format('truetype'),
         url('../webfonts/josefinslab-semibold-webfont.svg#josefin_slabsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Italic';
    src: url('../webfonts/josefinslab-italic-webfont.eot');
    src: url('../webfonts/josefinslab-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/josefinslab-italic-webfont.woff') format('woff'),
         url('../webfonts/josefinslab-italic-webfont.ttf') format('truetype'),
         url('../webfonts/josefinslab-italic-webfont.svg#josefin_slabitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Light';
    src: url('../webfonts/josefinslab-light-webfont.eot');
    src: url('../webfonts/josefinslab-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/josefinslab-light-webfont.woff') format('woff'),
         url('../webfonts/josefinslab-light-webfont.ttf') format('truetype'),
         url('../webfonts/josefinslab-light-webfont.svg#josefin_slablight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Regular';
    src: url('../webfonts/josefinslab-regular-webfont.eot');
    src: url('../webfonts/josefinslab-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/josefinslab-regular-webfont.woff') format('woff'),
         url('../webfonts/josefinslab-regular-webfont.ttf') format('truetype'),
         url('../webfonts/josefinslab-regular-webfont.svg#josefin_slabregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Thin';
    src: url('../webfonts/josefinslab-thin-webfont.eot');
    src: url('../webfonts/josefinslab-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/josefinslab-thin-webfont.woff') format('woff'),
         url('../webfonts/josefinslab-thin-webfont.ttf') format('truetype'),
         url('../webfonts/josefinslab-thin-webfont.svg#josefin_slabthin') format('svg');
    font-weight: normal;
    font-style: normal;

}
body,
body.login
{
	font: 22px/1.4em "SemiBold";
	color: #333;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-font-smoothing: antialiased;
}
p
{
	margin-bottom: 1em;
}
a
{
    color: #0099FF;
    text-decoration: underline;
}

strong,
b,h1,h2,h3,h4,h5,h6,.Title,.Tagline,
cite
{
	font-family: "Bold";
	font-style: normal;
    font-weight: normal;
}
h1,h2,h3,h4,h5,h6
{
	font: 36px/1.16em "Bold";
    margin-bottom: .7em;
}
h1,h2,h3,h4,h5,h6
{
}
h2.EntryTitle
{
	font-size: 60px;
}
.required,
.Required
{
    color: #c0392b;
}
.ShadowBox
{
    background: transparent url(../images/bg-000-30.png) repeat;
}
.ShadowText
{
    text-shadow: 2px 2px 0px rgba(0, 0, 0, .5);
}