@import "components.css";
@import "typography.css";
body,
html
{
  background: #fff;
}
body.login div#login
{
}
body.login div#login h1 {}
body.login div#login h1 a
{
	width: 128px;
	height: 128px;
	background: transparent url(../images/symbol-login.png) center center no-repeat;
}
#login
{
	width: 320px;
	padding: 30px 0 0;
	margin: auto;
}
.login .message
{
	border: 0;
	padding: 0;
	margin: 0;
	text-align: center;
	background-color: #fff;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin-bottom: 10px;
	font-family: "Bold";
}
.login #login_error
{
	border-left: 4px solid #767676;
	background: #fff;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}
.login label,
.login form .forgetmenot label
{
	color: #333;
	font: 20px/1.4em "Bold";
}
body.login input
{
	width: 100%;
	margin-bottom: 10px;
}
body.login input[type=checkbox]
{
	width: auto;
}
body.login div#login form#loginform input#user_login {}
body.login div#login form#loginform input#user_pass {}
body.login div#login form#loginform p.forgetmenot {}
body.login div#login form#loginform p.forgetmenot input#rememberme
{
	margin-top: 5px;
}
body.login div#login form#loginform p.submit {}

body.login input[type=submit],
body.login input[type=submit]:hover,
body.login input[type=submit]:focus,
.wp-core-ui .button-group.button-large .button, .wp-core-ui .button.button-large
{
	height: 44px;
	display: inline-block;
	background: #0099FF url(../images/symbol-check-white.png) center center no-repeat;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font: 17px/1em "Bold";
	color: #FFF;
	border: 0;
	text-indent: -9999em;
	overflow: hidden;
	text-align: center;
	border: 0;
	-webkit-box-shadow: 0;
	box-shadow: 0;
}

.login #backtoblog a, .login #nav a
{
	text-decoration: none;
	color: #333;
}
.login #backtoblog a:hover,
.login #nav a:hover,
.login #backtoblog a:focus,
.login #nav a:focus
{
	color: #0099FF;
}