.Columns
{
	width: 100%;
}
.Columns .Column
{
	float: left;
	min-height: 1px;
}
.Columns.TwoColumns .Column:first-child > .Wrapper,
.Columns.TwoColumns:first-child > .Inner
{
	padding-right: 2em;
}
.FourColumns .Column
{
	width: 25%;
}
.TwoColumns .Column
{
	width: 50%;
}
@media only screen and (max-width: 900px)
{
	.TwoColumns .Column
	{
		width: 100%;
	}
	.Columns.TwoColumns .Column:first-child > .Wrapper,
	.Columns.TwoColumns:first-child > .Inner
	{
		padding-right: 0;
	}
}